/* CSS Reset */
* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Backgrounds & Container Elements */

header {
background-color: red;
background-image: url('images/cover2.jpg');
background-size: cover;
background-position: center;
min-height: 60vh;
padding: 30vh 5%;
background-attachment: fixed;
}

footer {
background-color: red;
color: white;
margin: auto;
text-align: center;
}

footer, section {
  padding: 1% 5%;
}

/* Typography */

body {
font-family: 'Lato', sans-serif;
}

h1, h3 {font-family: 'Playfair Display', serif;
color: white;
text-align: center;
}

h2 {
    color: #e74c3c;
    font-family: 'Playfair Display',serif;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

hr {
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: rgb(231, 76, 60);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
      border-bottom: 3px solid #e74c3c;
    width: 50px;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2rem;
    margin-left: 0px;
    margin-bottom: 2rem;
}

a {
    color: black;
    padding-bottom: 2px;
    border-bottom: 1px solid #e74c3c;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: .3s;
  }

  li {
    margin: .5rem 0;
    font-weight: 300;
}

p span {
    font-weight: 700;
    padding-right: 10px;
}

p {
    line-height: 1.4;
    margin: .8rem 0;
    margin-top: 0.8rem;
    margin-right: 0px;
    margin-bottom: 0.8rem;
    margin-left: 0px;
    font-weight: 300;
}


/* footer */


footer h2,footer hr,footer a {color: white;
border: center}

footer {
    background-image: linear-gradient(to bottom right,#e63f4f,#e53260);
    color: #fff;
    text-align: center;
}

footer hr {
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-color: #fff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
}
